.subscribe-button {
    background-color:rgb(200, 6, 6);
    color:white;
    border:none;
    height:36px;
    width:105px;
    border-radius:2px;
    cursor:pointer;
    margin-right: 8px;
    transition: opacity 0.15s;

}

.subscribe-button:hover{
opacity:0.8;

}

.subscribe-button:active{
opacity:0.5;

}
.join-button {

    background-color: white;
    border-color: rgb(41, 41, 184);
    border-style: solid;
    border-width: 1px;
    color: rgb(109, 109, 214);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;


    transition: background-color: 0.15s;
    color 1s;

}

.join-button: hover;{
    background-color:rgb(2, 137, 255)
    color:white;
    tranisiton 
}

.join-button:active {
    opacity:0.5;
}

.tweet-button {
background-color:rgb(2, 137, 255);
color:white;
height: 36px;
border: none;
width: 74px;
border-radius: 18px;
font-weight: bold;
font-size: 15px;
cursor:pointer;
margin-left: 8px;
transition:box-shadow 0.15s;



}

.tweet-button:hover{
box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.15s);

}.video-title{
    font-family:arial;
    font-size:30px;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}